@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  max-width: 100vw;
  overflow-x: hidden;
}

::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-track { background: #13131f; }
::-webkit-scrollbar-thumb { background: #3b3b5e; border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: #7c3aed; }
